<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Yuri Atlas</h1>

    <h2>Search</h2>
    <form method="post" action="{{ url_for('search_manga') }}">
        <label for="nsfw_enabled">NSFW Enabled</label>
        <input type="checkbox" id="nsfw_enabled" name="nsfw_enabled" {% if nsfw_enabled %}checked{% endif %}>
        <br/>
        <label for="manga_title">Manga Title:</label>
        <input type="text" id="manga_title" name="manga_title" required/>
        <br/>
        <p><b>Genres</b></p>
        <ul style="text-decoration: none">
            {% if genres %}
                {% for genre in genres %}
                    <li>
                    <label for="{{ genre }}">{{ genre }}</label>
                    <input type="checkbox" id="{{ genre }}" name="{{ genre }}">
                </li>
                {% endfor %}
            {% else %}
                <p>No genres available.</p>
            {% endif %}
        </ul>
        <button type="submit">Submit</button>
    </form>

    {% if mangas %}

    <h2>Results for "{{ search_query }}"</h2>

        <ul>
            {% for m in mangas %}
                <li><a href="{{url_for('get_manga', title=m.title)}}">{{m.title}}</a></li>
            {% endfor %}
        </ul>

    {% endif %}


    {% if manga %}
        <h2>{{ manga.title }}</h2>

        <p><b>Alternative Title:</b> {{ manga.alternative_title }}</p>

        {% if manga.link != '---' %}
            <a href="{{ manga.link }}">Reading Link</a>
        {% endif %}

        <p><b>Format:</b> {{ manga.manga_format }}</p>

        <p><b>Publication:</b> {{ manga.publication }} </p>

        <p><b>NSFW:</b> {{ manga.nsfw_level }} </p>

        <p><b>Genres:</b></p>
        <ul>
            {% for genre in manga.genres %}
                <li>{{ genre }}</li>
            {% endfor %}
        </ul>

    {% endif %}
</body>
</html>